APP_PORT=enter-a-port-for-app

DATABASE_URL='mysql://${MYSQL_USER}:${MYSQL_PASSWORD}@localhost:${MYSQL_TCP_PORT}/${MYSQL_DATABASE}'

MYSQL_DATABASE='enter-a-db-name'
MYSQL_USER='root'
MYSQL_PASSWORD='enter-a-password'
MYSQL_TCP_PORT=enter-a-port